h2 {
  text-align: center;
  padding: 137px;
}
form {
  background: linear-gradient(180deg, rgba(19, 11, 43, 0.00) 14.4%, #130B2B 42.16%);
  margin: 0 50px 25px;
  padding: 10px 25px 25px;
  text-align: center;
  transform: scale(1);
  transition: 0.3s transform;
  border-radius: 5px;
  background: linear-gradient(265deg, rgba(19, 11, 43, 0.00) 0%, rgba(19, 11, 43, 0.54) 77.4%, #130B2B 103.53%);
  /* background: linear-gradient(149deg, #60FFCA -9.55%, rgba(96, 255, 202, 0.00) 46%, rgba(96, 255, 202, 0.00) 85.94%);} */
}

form:hover {
  transform: scale(1.2);
}

button {
  background: linear-gradient(137deg, #2E1371 4.86%, #21232F 103.81%);  border: 1px solid transparent;
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: border-color 0.15s;
  border-radius: 8px;
  color: white;
}
button:hover {
  border-color:  #09FBD3 ;
}
button[disabled] {
  opacity: 0.5;
}

